.btn {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: none;
  cursor: pointer;
  font-family: var(--font-regular);
  font-weight: var(--font-weight-medium);
  line-height: normal;
  transition-property: border, background-color, color, opacity;
  transition-duration: var(--speed-highlightFadeOut);
  user-select: none;
  white-space: nowrap;
  flex-shrink: 0;
  margin: 0;
  border-radius: 5px;
  background: transparent;
  color: var(--color-text-secondary);
}

.btn:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 2px;
}

/* Variants */
.btn--default {
  border: 1px solid var(--color-border-button-default);
  box-shadow: var(--shadow-subtle);
  background-color: var(--color-interactive-primary);
  color: var(--color-text-secondary);
}

.btn--default:hover {
  opacity: 0.9;
}

.btn--primary {
  border: 1px solid var(--color-border-button-primary);
  box-shadow: var(--shadow-subtle);
  background-color: var(--color-interactive-accent);
  color: var(--color-text-button-primary);
}

.btn--primary:hover {
  opacity: 0.9;
}

.btn--outline {
  background: transparent;
  color: var(--color-text-button-alt);
  border: 1px solid var(--color-border-primary);
}

.btn--outline:hover {
  background: var(--color-interactive-hover);
}

.btn--ghost {
  background: transparent;
  color: var(--color-text-primary);
  border: none;
}

.btn--ghost:hover {
  background: var(--color-interactive-hover);
}

/* Sizes */
.btn--small {
  min-width: 28px;
  height: 28px;
  padding: 0px 14px;
  font-size: 12px;
}

.btn--medium {
  min-width: 32px;
  height: 32px;
  padding: 0px 16px;
  font-size: 13.3333px;
}

.btn--large {
  min-width: 36px;
  height: 36px;
  padding: 0px 18px;
  font-size: 14px;
}

/* Shapes */
.btn--pill {
  border-radius: 50%;
  padding: 0px 2px;
  width: 28px;
  height: 28px;
}

/* Icon */
.btn__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-icon-secondary);
}

.btn__icon svg {
  width: 16px;
  height: 16px;
}
