.navigation {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0;
}

.navigation__item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
  height: 28px;
  padding: 0px 2px 0px 6px;
  color: var(--color-text-button-alt);
  font-size: 13px;
  font-weight: var(--font-weight-medium);
  line-height: normal;
  border-radius: 4px;
  transition: all var(--default-duration) var(--default-easing);
  text-decoration: none;
}

.navigation__item:hover {
  background-color: var(--color-interactive-hover);
}

.navigation__item--active {
  background-color: var(--color-bg-secondary);
}

.navigation__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  color: var(--color-icon-secondary);
}

.navigation__icon svg {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.navigation__label {
  flex: 1;
}

.navigation__count {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-text-tertiary);
}
